[Unit]
Description=RFID reader
After=network.target

[Service]
ExecStart=/home/pi/ETicketTotem/venv/bin/python3 /home/pi/ETicketTotem/read_rfid.py
WorkingDirectory=/home/pi/ETicketTotem/
Restart=always
User=pi
Group=pi
StandardOutput=append:/home/pi/ETicketTotem/logs/rfid.log
StandardError=append:/home/pi/ETicketTotem/logs/rfid_error.log

[Install]
WantedBy=multi-user.target